@using System.Text.Json;
@using Laboration2MVC.Models;

@{
    ViewData["Title"] = "Transaktioner";
    var apiResponse = ViewData["apiResult"] as List<TransactionModel>;
}

<div class="text-center">
    <h1 class="display-3">Välkommen till Stuxnets bank!</h1
        <div class="d-flex justify-content-center gap-3 my-4">
    <a asp-controller="Edit" asp-action="EditView" class="btn btn-primary">
        Tilldela kategorier till betalningsreferenser
    </a>
     <a asp-controller="Report" asp-action="Report" class="btn btn-primary">
        Tilldela kategorier till betalningsreferenser
    </a>
    
    <a asp-controller="Edit" asp-action="EditTransactionView" class="btn btn-secondary">
        Tilldela kategorier till specifika transaktioner
    </a>
    <form asp-action="DeleteAndRedirect" asp-controller="API" method="post" class="mb-4">
    <button type="submit" class="btn btn-danger">
        Radera egna kategorier
    </button>
    </form>
    <form asp-action="UpdateTransactionsFromAPI" asp-controller="API" method="post" class="mb-4">
    <button type="submit" class="btn btn-primary">
        Uppdatera API
    </button>
    </form>

</div>

    <h2>Transaktionshistorik:</h2>

    @if (apiResponse != null)
    {
             

        <table class="table">
            <thead>
                <tr>
                    <th>Transaktions-ID</th>
                    <th>Bokningsdatum</th>
                    <th>Transaktionsdatum</th>
                    <th>Referens</th>
                    <th>Belopp</th>
                    <th>Saldo efter transaktion</th>
                    <th>Kategori</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var transaction in apiResponse)
                {
                    <tr>
                        
                        <td>@transaction.TransactionID</td>
                        <td>@transaction.BookingDate</td>
                        <td>@transaction.TransactionDate</td>
                        <td>@transaction.Reference
                            

                        </td>
                        
                        <td>@transaction.Amount</td>
                        <td>@transaction.Balance</td>
                        <td>@transaction.Category</td>  
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>Du har ingen transaktionshistorik.</p>
    }

</div>
