@using System.Text.Json;
@using Laboration2MVC.Models;

@{
    ViewData["Title"] = "Transaktioner";
    var apiResponse = ViewData["apiResult"] as List<TransactionModel>;
}

<div class="text-center">
    <h1 class="display-3">Välkommen till Stuxnets bank!</h1
        <h2>
        <a asp-controller="Edit" asp-action="EditView">
            Klicka här för att ta dig till din transaktionshistorik

        </a>
    </h2>
    <h2>Transaktionshistorik:</h2>

    @if (apiResponse != null)
    {
        <div> 
        <select class="form-select">
                                <option value="1">Mat och Dryck</option>
                                <option value="2">Räkningar och utbetalningar</option>
                                <option value="3">Underhållning</option>
                                <option value="4">Övrigt</option>
                <button type="button"> Save changes</button>


        </select>
        <button type="button"> Save changes</button>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Välj Kategori </th>
                    <th>Transaktions-ID</th>
                    <th>Bokningsdatum</th>
                    <th>Transaktionsdatum</th>
                    <th>Kategori</th>
                    <th>Belopp</th>
                    <th>Saldo efter transaktion</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var transaction in apiResponse)
                {
                    <tr>
                        <td>
                            <input type="checkbox" id="@transaction.TransactionID" />
                       </td>
                        <td>@transaction.TransactionID</td>
                        <td>@transaction.BookingDate</td>
                        <td>@transaction.TransactionDate</td>
                        <td>@transaction.Reference</td>
                        <td>@transaction.Amount</td>
                        <td>@transaction.Balance</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>Du har ingen transaktionshistorik.</p>
    }

</div>
